@using WebMarket.ViewModels.PRange
@{
    foreach (var pRange in Model.GetAllPRange)
    {
        <div>
            <p>Ид: @pRange.Id</p>
            <p>Артикул: @pRange.VendorCode</p>
            <p>-----------</p>
        </div>
    }
}

